$brainster-theme-color: #FCD232;

$input-btn-focus-color: rgba(var(brainster-theme-color), .25) !default;
$input-focus-border-color: $brainster-theme-color !default;
// $input-focus-color: $brainster-theme-color;
// $input-border-color: $brainster-theme-color;
// $input-color: $brainster-theme-color;